p<!--Footer at bottom of all pages-->
<!-- Footer -->
    <footer class="page-footer font-small blue pt-4 rounded">

        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-6 mt-md-0 mt-3">

                    <!-- Content -->
                    <h5 class="text-uppercase">Thanks for visiting!</h5>
                    <p>We hope you enjoy Project DADIP - Deep Anomaly Detection In Purchasing</p>
                    <p>Here you can find some additional links</p>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none pb-3">

                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">

                    <!-- Links -->
                    <h5 class="text-uppercase">Quicklinks</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="{% url 'fileimport' %}">File Upload</a>
                        </li>
                        <li>
                            <a href="{% url 'showdata' %}">Show Data</a>
                        </li>
                        <li>
                            <a href="{% url 'mlalgo' %}">Machine Learning</a>
                        </li>
                        <li>
                            <a href="{% url 'datavisu' %}">Data Visualization</a>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">

                    <!-- Links -->
                    <h5 class="text-uppercase">About</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="/terms">Terms and Conditions</a>
                        </li>
                        <li>
                            <a href="/imprint">Legal notice</a>
                        </li>
                        <li>
                            <a href="/dataprotection">Data protection</a>
                        </li>
                        <li>
                            <!--<a href="/faq">FAQ's</a>-->
                            <a href="myTemplates/faq">FAQ's</a>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright by
            <span>Julius Fieger, Sophie Kopala, Julia Pfister, Florian Schietinger, Marco Thießen</span>
            <br>
            <span> from <a href="https://uni-wuerzburg.de/">uni-wuerzburg</a></span>
            <br>
            <span style="text-align:right;">Template from <a target="_blank" href="https://www.themekita.com">ThemeKita</>
                        - coded by <a target="_blank" href="https://appseed.us">AppSeed</a></span>
            <br>
        <div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->
