{% extends "layouts/base.html" %}

{% block title %} FAQ {% endblock %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<h1>Frequently Asked Questions (FAQs)</h1>
<h3>Q: How do I use DADIP? <br> A: There is a manual on the Startpage which explains step by step what you
    have to do. You can also click <a href="{% url 'home' %}">here</a> to see the manual.</h3>
<h3>Q: Can I use any different File-Formats or does it have to be an Excel-File? <br> A: Currently only Excel Files
    (xlsx or csv) can be processed by our algorithm, but maybe there will be more options in the future...</h3>
<h3>Q: I get an error message everytime I upload a File even though the File-Type is correct, what could be the reason? <br> A: Make
    sure you only upload 1 file at a time and also there is a Filesize limit of 10mb per file.</h3>
<h3>Q: Will the uploaded Data be stored or used for any additional aspects? <br> A: Your uploaded Data is being stored
    on the Server for functional reasons. But your data is only being used for Fraud Analysis and nothing else!</h3>
<h3>Q: Your project is so cool, how did you manage to build it in such a short period of time? <br> A: Thanks for your compliment!
    We had very good supervisors who helped us out when we were stuck at any point during the project :-)</h3>
{% endblock content %}

{% block javascripts %}
{% endblock javascripts %}

