{% extends "layouts/base.html" %}
{% load static %}
<!-- Authors: Florian, Marco -->
{% block title %} Datenimport {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<!-- CSS Dropzone -->
<link rel="stylesheet" href="/static/assets/dropzone-5.7.0/dist/min/dropzone.min.css">
{% endblock stylesheets %}

{% block content %}

<div class="content">
    <div class="page-inner">
        <div class="page-header">
            <h4 class="page-title">File Upload</h4>
            <ul class="breadcrumbs">
                <li class="nav-home">
                    <a href="{% url 'home' %}">
                        <i class="flaticon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a href="{% url 'fileimport' %}">File Upload</a>
                </li>
            </ul>
        </div>
        <h2>Use the Dropzone to upload your File</h2>

        <!-- Einfügen der Dropzone-->
        <form action="{% url 'file-upload' %}" method="POST" enctype="multipart/form-data"
              class="dropzone"
              id="myDropzoneForUpload"
              style="min-height:250px; position:relative; padding-bottom: 30px; /*background-color: red !important;*/">
            {% csrf_token %}
            <div class="fallback">
                <input name="myFile" type="file" multiple/>
            </div>
            <div class="dz-message"> Please upload your Datafile (*.csv or *.xlsx). <br> You can use drag & drop or just
                click anywhere in the Dropzone. <br><br> (Note: Only 1 File at a time possible)
            </div>


            <button type="submit" id="btn_upload" class="btn btn-outline-primary"
                    style="position: absolute; bottom: 10px;">
                Upload
            </button>

        </form>


        {% if error_message %}
        <p>{{ error_message }}</p>
        {% endif %}


        <br>
        <br>

    </div>
</div>

{% endblock content %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!-- Dropzone JS -->
<script src="/static/assets/dropzone-5.7.0/dist/min/dropzone.min.js"></script>

<script>

    var userStatus = "{{ request.user.is_authenticated }}";
    console.log(userStatus);
    Dropzone.autoDiscover = false;
    var myDropZone = new Dropzone(".dropzone",
        // Dropzone.options.myDropzoneForUpload=
        {
            autoProcessQueue: false,
            url: "{% url 'file-upload' %}",
            acceptFiles: ".csv, .CSV, .xlsx, .XLSX",
            parallelUploads: 1, //default 2
            paramName: "newFile", // The name that will be used to transfer the file
            maxFilesize: 10, // MB
            addRemoveLinks: true,

            init: function () {
                var myDropzone = this;

                $("#btn_upload").click(function (e) {
                    e.preventDefault();

                    if (userStatus == "True") {
                        var confirmation = window.confirm("Would you like to upload your selected File?"); //+ myDropzone.getQueuedFiles().length
                        //If confirmed:
                        if (confirmation) {
                            console.log('File Upload confirmed!');
                            myDropzone.processQueue(); // Tell Dropzone to process all queued files.

                        } else {
                            //If canceled:
                            myDropZone.removeAllFiles();
                            alert("Upload was canceled!");
                        }
                    } else {
                        alert("Please log in first to upload a File!");
                        myDropZone.removeAllFiles();
                    }
                }); // close button click
            }// close init


        })
    ;

    myDropZone.on("complete", function (file, xhr, formData) {
        console.log('Transfer finished');
        setTimeout(function () {
            myDropZone.removeAllFiles();
        }, 5000);

    });

    myDropZone.on("success", function (file, response) {
        console.log("success");
        alert("Upload successful!");
        window.location = '/showdata/'
    });

    myDropZone.on("error", function (file, error, xhr) {
        console.log("error");
        alert("Upload error! Please check the Filename and Datatype.");
    });


</script>
{% endblock javascripts %}


