{% extends "layouts/base.html" %}

{% block title %} Datenimport {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">Datenimport</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">Pages</a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'fileimport' %}">Datenimport</a>
                    </li>
                </ul>
            </div>
            <div class="page-category">Inner page content goes here</div>
            <h2>Dropzone für Import</h2>

            <a href="http://www.dropzonejs.com">Dropzone.js</a>


            <form method="post" action="/file-upload"
                  {% csrf_token %}
                  class="dropzone"
                  id="my-awesome-dropzone">

            </form>

            <input type="file" name="file"/>

            <br>
            <br>

            <form action="/file-upload" class="dropzone">
                <div class="fallback">
                    <input name="file" type="file" multiple/>
                </div>
            </form>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script src="./path/to/dropzone.js"></script>
{% endblock javascripts %}
