{% extends "layouts/base.html" %}

{% block title %} Machine Learning {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" type="text/css"
      href="https://cdn.datatables.net/v/bs5/jq-3.3.1/jszip-2.5.0/dt-1.10.25/b-1.7.1/b-colvis-1.7.1/b-html5-1.7.1/b-print-1.7.1/fc-3.3.3/fh-3.1.9/sb-1.1.0/sl-1.3.3/datatables.min.css"/>
{% endblock stylesheets %}

{% block content %}

	<div class="content">
		<div class="page-inner">
			<div class="page-header">
				<h4 class="page-title">Machine Learning</h4>
				<ul class="breadcrumbs">
					<li class="nav-home">
						<a href="#">
							<i class="flaticon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">Pages</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="{% url 'mlalgo' %}">Machine Learning</a>
					</li>
				</ul>
			</div>
			<div class="page-category">Inner page content goes here</div>


			{{accuracy}}
			{{conf_matr}}
			{{class_rep}}
			<h3>Y-Predict</h3>
			{{y_pred}}
			<h3> X-train </h3>
			{{X_train}}
			<h3> y-train </h3>
			{{y_train}}

			<h3> X-Test </h3>
			{{X_test}}

			<h3> y-train predict</h3>
			{{y_train_pred}}

			<h3> y-test predict</h3>
			{{y_test_pred}}

			<h3> y-test </h3>
			{{y_test}}
			<h3> Fraud Cases</h3>
			{{ data | safe }}
		</div>
	</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script type="text/javascript"
        src="https://cdn.datatables.net/v/bs5/jq-3.3.1/jszip-2.5.0/dt-1.10.25/b-1.7.1/b-colvis-1.7.1/b-html5-1.7.1/b-print-1.7.1/fc-3.3.3/fh-3.1.9/sb-1.1.0/sl-1.3.3/datatables.min.js"></script>
<script>
    var my_table;

    $(document).ready(function () {
        my_table = $('#dataShowTable_frauds').DataTable(
            {
                "scrollX": true,
                "lengthMenu": [[5, 10, 20, 50, 100, -1], [5, 10, 20, 50, 100, "All"]],
                "order": [[1, "desc"]],  //Standardmäßig absteigend nach Datum sortieren
                dom: 'Blfrtpi',      //Anordnung der Buttons
                "bStateSave": false,  //cookie zum Speichern der Filtereinstellungen usw.
                //fixedColumns: {heightMatch: 'auto'},

                buttons: [
                    {
                        extend: 'copyHtml5',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'excelHtml5',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                ],
            }
        );

    });
</script>
{% endblock javascripts %}
