{% extends "layouts/base.html" %}

{% block title %} Machine Learning {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" type="text/css"
      href="https://cdn.datatables.net/v/bs5/jq-3.3.1/jszip-2.5.0/dt-1.10.25/b-1.7.1/b-colvis-1.7.1/b-html5-1.7.1/b-print-1.7.1/fc-3.3.3/fh-3.1.9/sb-1.1.0/sl-1.3.3/datatables.min.css"/>
{% endblock stylesheets %}

{% block content %}

	<div class="content">
		<div class="page-inner">
			<div class="page-header">
				<h4 class="page-title">Machine Learning</h4>
				<ul class="breadcrumbs">
					<li class="nav-home">
						<a href="{% url 'home' %}">
							<i class="flaticon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="{% url 'mlalgo' %}">Machine Learning</a>
					</li>
				</ul>
			</div>
			<!-- <div class="page-category">Inner page content goes here</div> -->

			<h2>Select Dataframe</h2>
			<form method="post" action="{% url 'train_mlalgo' %}">
				<select name="select_df" id="select_df" required>
    				<option selected disabled="true">--- Select Dataframe ---</option>
  				</select>
  				<input type="submit" value="Train Model and Analyse Data">
				<input type="submit" value="Analyse Dataframe" formaction="{% url 'analyze_file' %}">
			</form>
			<br>
			<h3>{{count_fraud_text}}{{count_fraud}}</h3>
			<h3>{{count_nonfraud_text}}{{count_nonfraud}}</h3>
			<br>
			<h3>{{precision_text}}{{accuracy}}</h3>


			<!-- not really needed
			{{conf_matr}}
			{{class_rep}}
			<h3>Y-Predict</h3>
			{{y_pred}}
			<h3> X-train </h3>
			{{X_train}}
			<h3> y-train </h3>
			{{y_train}}

			<h3> X-Test </h3>
			{{X_test}}

			<h3> y-train predict</h3>
			{{y_train_pred}}

			<h3> y-test predict</h3>
			{{y_test_pred}}

			<h3> y-test </h3>
			{{y_test}}

			<h3> Fraud Cases</h3>
			-->
			<br>
			<br>
			<h3>{{fraudtable_text}}</h3>
			{{ data | safe }}
		</div>
	</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script type="text/javascript"
        src="https://cdn.datatables.net/v/bs5/jq-3.3.1/jszip-2.5.0/dt-1.10.25/b-1.7.1/b-colvis-1.7.1/b-html5-1.7.1/b-print-1.7.1/fc-3.3.3/fh-3.1.9/sb-1.1.0/sl-1.3.3/datatables.min.js"></script>
<script>
    var my_table;

    $(document).ready(function () {


        my_table = $('#dataShowTable_frauds').DataTable(
            {
                "scrollX": true,
                "lengthMenu": [[5, 10, 20, 50, 100, -1], [5, 10, 20, 50, 100, "All"]],
                "order": [[1, "desc"]],  //Standardmäßig absteigend nach Datum sortieren
                dom: 'Blfrtpi',      //Anordnung der Buttons
                "bStateSave": false,  //cookie zum Speichern der Filtereinstellungen usw.
                //fixedColumns: {heightMatch: 'auto'},

                buttons: [
                    {
                        extend: 'copyHtml5',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'excelHtml5',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                ],
            }
        );

        var url_mask = "{% url 'find_datatables' %}"

		var click_counter=0;
      // Wenn ein Datensatz ausgewählt wird
      document.getElementById('select_df').onchange=function () {
		  if (click_counter===0) {
			  console.log("select_df clicked")
			  $.ajax({
				  type: 'GET',
				  url: url_mask, //'get_dt_names/', //{ % url 'get_dt_names' %},
				  success: function (result) {
					  //alert(result);
					  $("#select_df").empty(); // SelectionBox leeren vor erneuter Abfrage
					  // Die gefundenen Datensätze eintragen
					  for (var i = 0; i < result.length; i++) {
						  var x = result[i];
						  $("#select_df").append('<option>' + x + '</option>');
					  }
				  }
			  });
			  click_counter++;
		  }
		  else {
		  	console.log('Wert nicht 0');
			  click_counter=0;}
	  };

	$('#select_df').change();


    }); //close document.ready function




</script>
{% endblock javascripts %}
