{% extends "layouts/base.html" %}

{% block title %} Datenanzeige {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" type="text/css"
      href="https://cdn.datatables.net/v/bs5/jq-3.3.1/jszip-2.5.0/dt-1.10.25/b-1.7.1/b-colvis-1.7.1/b-html5-1.7.1/b-print-1.7.1/fc-3.3.3/fh-3.1.9/sb-1.1.0/sl-1.3.3/datatables.min.css"/>

<style>
    .btn-secondary {
        background: lightseagreen !important;
        border-color: lightseagreen !important;
    }


    #dataShowTable {
        opacity: 0.1;
    }

</style>


{% endblock stylesheets %}

{% block content %}

<div class="content">
    <div class="page-inner">
        <div class="page-header">
            <h4 class="page-title">Datenanzeige</h4>
            <ul class="breadcrumbs">
                <li class="nav-home">
                    <a href="#">
                        <i class="flaticon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Pages</a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a href="{% url 'showdata' %}">Datenanzeige</a>
                </li>
            </ul>
        </div>
        <div class="page-category">Inner page content goes here


            <!--Import Data via Django context variable-->
            <h1> Eingelesene Datentabelle </h1>

            <button id="changeDataTypes" class="btn btn-secondary">Change Datatypes</button>
            <button id="saveDataTypes" class="btn btn-danger">Save Datatypes</button>
            <button id="btn_readtable" class="btn btn-outline-warning">Save Data to Database</button>

            <!-- Insert HTML-Ready-Table from Django Backend -->
            {{ data | safe }}
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!-- <script type="text/javascript" charset="utf8"
         src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>-->

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript"
        src="https://cdn.datatables.net/v/bs5/jq-3.3.1/jszip-2.5.0/dt-1.10.25/b-1.7.1/b-colvis-1.7.1/b-html5-1.7.1/b-print-1.7.1/fc-3.3.3/fh-3.1.9/sb-1.1.0/sl-1.3.3/datatables.min.js"></script>


<script>

    var my_table;

    $(document).ready(function () {
        my_table = $('#dataShowTable').DataTable(
            {
                "scrollX": true,
                "lengthMenu": [[5, 10, 20, 50, 100, -1], [5, 10, 20, 50, 100, "All"]],
                "order": [[1, "desc"]],  //Standardmäßig absteigend nach Datum sortieren
                dom: 'Blfrtpi',      //Anordnung der Buttons
                "bStateSave": false,  //cookie zum Speichern der Filtereinstellungen usw.
                //fixedColumns: {heightMatch: 'auto'},

                buttons: [
                    {
                        extend: 'copyHtml5',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'excelHtml5',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'colvis',
                        //columns: ':eq(2),:eq(3),:eq(4),:eq(5),:eq(6),:eq(7),:eq(8),:eq(9)'
                    },
                ],
            }
        );

        my_table.buttons().container()
            .appendTo($('.col-sm-6:eq(0)', my_table.table().container()));


        this.api().columns().every(function () {
            var column = this;
            //var select = $('<select><option value=""></option></select>')
            var select = $('<select><option value="">Show all</option></select>')
                .appendTo($(column.footer()).empty())
        });


        /*setTimeout(function () {
            document.getElementById('dataShowTable').style.opacity = 1;
        }, 2000);*/


    });


    window.addEventListener('load', function () {

        //Hinzufügen der ID zu den Datentyp Zellen
        var numberOfCols = document.getElementById('dataShowTable').rows[1].cells.length;
        console.log(numberOfCols);
        for (i = 0; i < numberOfCols; i++) {
            var t = document.getElementById("dataShowTable"), // This have to be the ID of your table, not the tag
                d = t.getElementsByTagName("tr")[1],
                r = d.getElementsByTagName("td")[i];
            r.style.backgroundColor = 'yellow';
            var newId = 'datatype_' + i;
            r.setAttribute("id", newId);

            console.log('#### Page loaded!')
            document.getElementById("dataShowTable").style.opacity = '1';

        }


    });

    //Funktion change Datatypes aktivieren
    document.getElementById('changeDataTypes').onclick = function () {

        var numberOfCols = document.getElementById('dataShowTable').rows[1].cells.length;
        for (i = 0; i < numberOfCols; i++) {

            //Auslesen der Zelle
            var cell_content = document.getElementById('datatype_' + i).innerText;
            var select_id = 'dataTypSelect_' + i;
            //Hinzufügen der Selectbox zur Zelle
            document.getElementById('datatype_' + i).innerHTML = '<select id="' + select_id + '"> <option value = "default" >' + cell_content + '</option> <option value = "int" > INTEGER </option> <option value = "float" > FLOAT </option> <option value = "string" > STRING </option> </select>';

        }


    };

    var dataTypesChecked = new Array();

    //Funktion save Datatypes aktivieren
    document.getElementById('saveDataTypes').onclick = function () {


        var numberOfCols = document.getElementById('dataShowTable').rows[1].cells.length;
        //var dataTypesChecked = new Array();
        for (i = 0; i < numberOfCols; i++) {

            //Auslesen der Zelle
            var sel = document.getElementById('dataTypSelect_' + i);
            var cell_content = sel.options[sel.selectedIndex].text;
            dataTypesChecked.push(cell_content);

            //Ersetzen der Selectbox durch den ausgewählten Wert der Zelle
            document.getElementById('datatype_' + i).innerHTML = cell_content;


        }

        console.log("Array mit den Datentypen:")
        console.log(dataTypesChecked, dataTypesChecked.length);

    }


    //Send Data to Database
    document.getElementById('btn_readtable').onclick = function () {

        //Übergabe der Datentypen an Backend
        $.ajax({
            url: {% url 'readtable' %},

            type: 'POST',
            dataType: 'json', // Wir möchten das Ergebnis als Objekt
            data: {
                dataTypesChecked: JSON.stringify(dataTypesChecked),
                test: "Hello",
            },
            success: function (result) {

                console.log("erfolgreich Datentypen übermittelt")
                alert("Daten erfolgreich an Datenbank übermittelt")

            },
            error: function (result) {
                console.log("Error")
                alert("Error beim Speichern in Datenbank")
            }

        });


    };



</script>

{% endblock javascripts %}
