{% extends "layouts/base.html" %}

{% block title %} Datenanzeige {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
{% endblock stylesheets %}

{% block content %}

    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">Datenanzeige</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">Pages</a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'showdata' %}">Datenanzeige</a>
                    </li>
                </ul>
            </div>
            <div class="page-category">Inner page content goes here

                <h2>Datatables für Anzeige</h2>

                <a href="http://www.datatables.net">Datatables.net</a>

                {% if test %}
                    <br>
                    <p>{{ test }}</p>
                {% endif %}


                <h1> Testtabelle </h1>
                {{data | safe}}

                <table id="table-id" class="table table-striped mt-3">

                    <!--{ % if forloop.first %}-->
                    <thead>
                    <tr>
                        {% for columns in showData %}
                            <th scope="col">
                                {{ columns }}
                            </th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <!--{ % endif %}-->

                    <tbody>

                    <tr>
                        {% for items in showData %}

                            <!--{ % for items in rows %}-->
                                <td>
                                    {{ showData.iloc }}
                                </td>
                            <!--{ % endfor %}-->
                        {% endfor %}
                    </tr>


                    </tbody>

                </table>


            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>

    <script>

        /*
                { % if context.showData %}
                    var showData ={ { context.showData }};
                { % endif %}

                $(document).ready(function () {
                    $('#table_id').DataTable(
                        {
                            <!--"ajax": showData, -->
                            data: showData,
                        }
                    );
                });*/
    </script>

{% endblock javascripts %}
