<!--Footer at bottom of all pages-->
<!-- Footer -->
<div>
    <footer class="page-footer font-small blue pt-4 rounded">

        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-6 mt-md-0 mt-3">

                    <!-- Content -->
                    <h5 class="text-uppercase">Thanks for visiting!</h5>
                    <p>Here you can find some additional links and you can join our newsletter!</p>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none pb-3">

                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">

                    <!-- Links -->
                    <h5 class="text-uppercase">Quicklinks</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="/signup_newsletter">Join our newsletter</a>
                        </li>
                        <li>
                            <a href="/home/?category=1">Starter</a>
                        </li>
                        <li>
                            <a href="/home/?category=2">Main Course</a>
                        </li>
                        <li>
                            <a href="/home/?category=3">Dessert</a>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">

                    <!-- Links -->
                    <h5 class="text-uppercase">About</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="/terms">Terms and Conditions</a>
                        </li>
                        <li>
                            <a href="/imprint">Legal notice</a>
                        </li>
                        <li>
                            <a href="/dataprotection">Data protection</a>
                        </li>
                        <li>
                            <a href="/faq">FAQ's</a>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <span>xyz ,zyx from <a href="https://uni-wuerzburg.de/">uni-wuerzburg</a></span>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->
</div>